[2018-05-11 10:29] S-unya opened #1 "Can we have a couple of end to end examples please?"
Hi,
I realise that this is not necessarily within the scope of the plugin, but it would be really helpful to have the kind of setup we'd need across the board when using this plugin because there are potentially many systems working across each other here -  `gatsby-source-filesystem`, `gatsby-transformer-remark`, `gatsby-remark-images`, your plugin AND whatever CMS/editing solution one is using.

[2018-05-11 10:39] S-unya commented on #1
I should clarify that images that I don't want to explicitly manipulate with imageSharp work with the above setup.

[2018-05-11 21:27] hennessyevan commented on #1
@S-unya thanks for this issue, I'm experiencing the same issue, would like to submit a PR for this but not sure where to start. I'm not familiar with many of the dependencies in this code. @danielmahon

[2018-05-13 18:03] S-unya commented on #1
Hi @danielmahon, as far as I understand the issue (I would appreciate it if anyone has better info) it is that gatsby-remark-images and this one work against images within the main body of the markdown, but if you have images in the frontmatter, they do not apply. Consequently, if you want to apply some image processing, you have to to both set the path to the asset directly and query the node wit

[2018-05-14 00:03] danielmahon commented on #1
Hey all, haven’t had a chance to put together a proper response yet. Should have one tonight or tomorrow. Been traveling. Quick side note, this definitely does not work with frontmatter images as is but should be relatively easy to implement. I’ll try to get you something tomorrow.

[2018-05-14 08:56] S-unya commented on #1
@danielmahon that is great news! I was about to attempt it myself now that I've had a little experience making gatsby plugins. If you need help, please let me know - as far as I can tell, it is just that we need assets referenced in the frontmatter to have the path set in the same way as the main body of the md.

[2018-05-14 17:47] danielmahon commented on #1
@S-unya @hennessyevan OK, I updated the plugin (2248c6e4cfa41b97fb46768a53e768fe2ec4767e) to simplify everything a bit (I hope). You no longer need to define any options. Also, to convert frontmatter images youll need to use the new `fmImagesToRelative` function in your `gatsby-node.js` file. See readme. Also make sure your source plugins for your uploads/images are before your markdown files as I

[2018-05-14 17:49] danielmahon commented on #1
Ive tested this with NetlifyCMS single frontmatter images and image lists.

[2018-05-14 18:00] danielmahon commented on #1
Heres my full `gatsby-config.js` where this seems to be working:
[code]

[2018-05-15 02:35] hennessyevan commented on #1
@danielmahon It's working for me! Thanks so much. I'm using https://github.com/AustinGreen/gatsby-starter-netlify-cms and I can confirm that putting the image source first is necessary.

[2018-05-15 09:16] S-unya commented on #1
@danielmahon awesome work, thanks! I installed the plugin locally and it works very well for images at the root of the front matter. It doesn't work on images nested within sections within the frontmatter, which is a common pattern I think at least for Netlify-CMS.

For example, I have a section called "Testimonials" that has a number or quotes and each quote has an image for the citation.

This c

[2018-05-15 12:43] danielmahon commented on #1
@S-unya can you show me your NetlifyCMS config.yml?

[2018-05-15 14:05] S-unya commented on #1
@danielmahon https://github.com/aerian-studios/gatsby-netlify-poc/blob/master/static/admin/config.yml

[2018-05-15 14:07] S-unya commented on #1
The products 'page' is constructed entirely of widgets in the frontmatter. This is all Proof of Concept exploration of what can be done.

[2018-05-15 15:00] danielmahon commented on #1
@S-unya OK, I used a more robust deep map and it seems to handle nested objects and array better b76f87b810eefec3fb606e6ed7dffc13e50a051d

[2018-05-15 15:20] S-unya commented on #1
@danielmahon that works perfectly. Thanks for responding so quickly as well. It is has really helped to have this.

Please let me know when you update the npm package so that I can switch.

[2018-06-11 02:25] BCOA opened #2 "GraphQL Error Field must not have a selection since type "String" has no subfields."
Daniel, Thanks for your work on this module! I've been trying to get this setup over this weekend and just keep coming up against this error no matter what I have tried. This is undoubtedly user error on my end but I was hoping you might give a quick eye to my problem. Maybe you will see something quickly that I'm just missing.

https://github.com/BCOA/bcoa.com/blob/relativeImages/gatsby-node.js
h

[2018-06-13 18:57] axelboc opened #4 "Document required Netlify CMS configuration"
If I'm not mistaken, the plugin assumes that the configured Netlify CMS `public_folder` is one level down from the `media_folder` - e.g.

[code]

I'm referring more specifically to line [129](https://github.com/danielmahon/gatsby-remark-relative-images/blob/master/src/index.js#L129):

[code]

If that's the case, it might be worth mentioning it in the README.

[2018-06-13 18:58] axelboc commented on #2
Are you on Windows? If so, PR #3 should fix your problem. If not, it could also be something to do with your Netlify CMS configuration - cf. #4.

[2018-06-13 19:56] joshuarule commented on #2
@axelboc not on windows.

This is how i'm setup so would that not be correct based on #4 ?
`media_folder: "static/images/uploads"
public_folder: "/images/uploads"`

[2018-06-13 21:28] danielmahon commented on #2
@BCOA looking at this now

[2018-06-13 21:54] danielmahon commented on #4
@axelboc I think you're right, probably better to use `path.basename` rather than jumping up a level.

[2018-06-13 21:57] #4 closed

[2018-06-13 22:04] danielmahon commented on #2
@BCOA @axelboc @joshuarule Can you all see if the changes in the latest master f94bf4b, fix your issues?... Thank you!

[2018-06-13 22:20] axelboc commented on #4
Ah yeah, great solution!

[2018-06-14 11:53] joshuarule commented on #2
Awesome! So now it's reading the images as files which is great but I'm probably holding something wrong on the front end.

With gatsby-image  i'm doing this below but getting `TypeError: Cannot read property 'src' of undefined` Do you have a suggestion about how to work with gatsby-image or something else?

[code]
[code]

[2018-06-14 12:51] danielmahon commented on #2
@joshuarule looks like you’re missing ‘childImageSharp’, try setting ‘sizes’ to ‘image.childImageSharp.sizes’.

[2018-06-14 14:02] joshuarule commented on #2
@danielmahon Ahh yes! Works perfectly now. Thanks so much for the help. This issue was really stressing me out for about a week so it's really great to see it working now. Also I originally posted from @BCOA so you can close this ticket!

[2018-06-14 14:40] #2 closed

[2018-06-15 21:47] mattdvhope opened #5 "Not able to change to relative path in markdown"
I really appreciate your work on this plugin.  For some reason I can't get it to work on my Gatsby app.  In `index.md`, I have this frontmatter:
[code]

In `home-page/index.js`, I have this query:

    export const homePageQuery = graphql`
      query HomePage($id: String!) {
        markdownRemark(id: { eq: $id }) {
          frontmatter {
            welcome_description
            image1 {

[2018-06-18 17:29] peterlazzarino commented on #5
I am having the same issue with the same set up using gatsby + netlify CMS

[2018-06-19 03:36] joshuarule commented on #5
@mattdvhope @peterlazzarino are you on the latest? 0.1.2?

[2018-06-19 15:23] steverandy opened #6 "ReferenceError: regeneratorRuntime is not defined"
Got the above error when upgrading gatsby to v2.0.0-beta.2

[code]

[2018-06-20 10:49] ClintH commented on #5
I have a similar setup. Works fine on my local machine when doing a gatsby 'build' or 'develop', but not when the repo is deployed to Netlify.

[2018-06-20 15:02] danielmahon commented on #6
@steverandy haven't tested with 2.0, will look into it, thanks for the report

[2018-06-20 15:03] danielmahon commented on #5
@mattdvhope will try to check this out later today

[2018-06-24 17:01] axelboc commented on #5
Seems like in some places you use `slash` to convert Windows backslashes to forward slashes, and this conflicts with `path.normalize`, which now does the opposite. Working on a PR now.

[2018-06-24 17:47] pburtchaell commented on #5
In the meantime, if anyone is stuck on this and needs a quick solution, here's what I did. I just made a `remarkImagesToRelative` function and [manually joined the paths](https://github.com/pburtchaell/pburtchaell.com/blob/0d0813404b915f365e10bdc6be34a043adb27b1e/gatsby/remarkImagesToRelative.js#L5-L13).

[2018-06-27 12:40] pburtchaell commented on #5
@danielmahon, any updates on the fix for this? If there's anyway I can help contribute, let me know.

[2018-07-13 00:53] Jinksi commented on #6
I'm getting the same error using gatsby@2.0.0-beta.29

[2018-07-17 17:36] peterlazzarino commented on #5
@pburtchaell with your change are you successfully able to transform and use frontmatter images with childImageSharp? I have been going in circles on this one for a while now.

[2018-08-01 12:59] kennedyrose commented on #5
I wrote a [separate plugin](https://github.com/escaladesports/gatsby-plugin-netlify-cms-paths) that will read the Netlify CMS config and adjust your paths accordingly. So it's a little different than this plugin as it requires you to use Netlify CMS. But if you are it might be a good solution. It's only a day old so there might be quirks!

[2018-08-14 02:53] muhajirframe commented on #6
Does it works now?

[2018-09-08 19:27] floydnoel commented on #6
I got the error to resolve by adding `require('babel-polyfill')` to the top of my `gatsby-config.js` file.

[2018-09-26 18:12] #6 closed

[2018-11-23 15:46] peterlazzarino opened #11 "Plugin seems to be broken on windows"
After tracking down an issue [here](https://github.com/gatsbyjs/gatsby/issues/5990#issuecomment-439666580 ) it seems that when using this plugin, the images are not query-able in a windows environment.

The bug is easily reproducible by cloning [this repo](https://github.com/cmmartti/gatsby-image-from-frontmatte) and attempting the query in the issue. I created a fork that only swaps out this plug

[2018-11-26 12:17] Coder2012 commented on #11
I've tested this PR on a couple of local projects using Windows 10. Working fine here.

[2018-11-26 16:05] #11 closed

[2018-11-26 16:07] #5 closed

[2019-03-12 13:33] wirtzdan opened #15 "Field "image" must not have a selection since type "String" has no subfields."
I'm getting this error (not on windows) and couldn't fix it with many attempts. I looked at the other issues, but could not find a working solution...

Are things in the right order?

**My gatsby-config.js**
[code]

**The query in gatsby-node.js**
[code]

[2019-03-14 10:10] wirtzdan commented on #15
We fixed it. The problem was not using an absolute path in the Yaml we where using.

[2019-03-14 10:10] #15 closed

[2019-03-16 11:40] gilbertlucas46 opened #16 "Why is the images I queried is so tiny"
Please help The base64 images I get is so tiny

**Below is my Query**
[code]

**Here's the results**
[code]

**this is my gatsby-config.js**
[code]

[2019-04-30 13:24] tareefdev opened #17 "Subfolders in assets result in overwrite images having the same names"
If there are subfolders inside `assets` which contain images have same names, like:
[code]
the following markdown will display `/assets/sub-folder-2/image1.png` for both of images:
[code]

[2019-05-01 18:04] #16 closed

[2019-05-09 07:37] megant opened #18 "Relative URL conversion on unwanted frontmatter properies"
OK, let me draw up the problem. When I call fmImagesToRelative(node) in the onCreateNode hook of gatsy-node.js, the node argument of the function contains all the node data. Let's say I create a page dynamically according to the markdow below:

`---

title: Title

image: /content/images/image_name.jpg

slug: /my/multilingual/slug`

When this markdown data passed to fmImagesToRelative function, in

[2019-05-10 15:31] danielmahon commented on #18
@megant I can see the issue here. I believe adding a "field" option to filter by would solve this. That way you could specify something like:
[code]

[2019-05-10 18:24] megant commented on #18
I tried something similar (I used exceptions instead of fmFields and in contained fields which don't have to be converted), but my problem was fmImagesToRelative runs before plugin options initialization.

[2019-05-10 18:29] danielmahon commented on #18
Yea, I just found that out too. Sorry, I haven't used this much since I
wrote it :wink:. I will take a look at maybe passing a "filter" method
option to the function which you could use to determine which fields were
converted.

On Fri, May 10, 2019 at 2:24 PM megant <notifications@github.com> wrote:

[2019-07-15 21:16] igorakkerman opened #19 "Use ^ versions for npm dependencies"
Could you please change the dependency versions to be less strict to be future-proof, for instance:
[code]

The current lodash version produces an _npm audit_ issue:

[2019-07-17 16:41] devolasvegas commented on #18
@danielmahon Has there been any movement on this?

[2019-07-24 20:36] angelod1as commented on #18
@danielmahon I'm having a similar issue. Having a filter would solve it.

[2019-07-29 16:41] johnpcutler opened #21 "Mixed types of paths in frontmatter and body of markdown"
Apologies, I am very new to this. This may be related to some prior issues (#15), (#5), and (#18), but I'm not sure...

I recently did a big migration from Medium, and then retroactively populated an image path in my frontmatter. It feels like what I'm doing is pretty hacky, so any thoughts would be appreciated.

In my markdown, my images look like this:
`![](/images/0*XRVALKugCEUqoy4O.jpg)`

In m

[2019-07-29 19:26] johnpcutler commented on #21
Solved this by just rewriting the paths.

[2019-07-29 19:26] #21 closed

[2019-08-07 22:13] danielmahon commented on #19
Fixed in a271827

[2019-08-07 22:13] #19 closed

[2019-08-12 10:40] maciekgrzybek commented on #18
I could give it a go if it's still needed?

[2019-08-30 16:21] eur2 opened #23 "GIF image"
Hello, I'm using the plugin gatsby-remark-relative-images. Everything is working well. All the image (jpg) are well converted to relative path. Except when I have a GIF image instead of JPG into markdown content. Then the relative path doesn't work. Has anyone encountered this issue?

[2019-08-30 16:44] maximeduhamel commented on #23
Hi, in another similar issue you can see an answer from Kyle  Mathews. I hope you'll find your answer there 😊

https://github.com/gatsbyjs/gatsby/issues/7317#issuecomment-412984851

[2019-08-30 16:51] grdpr commented on #23
Thanks for the link!
I tried it but that didn't work. I have this weird double relative path:
<img src="../../static/assets/a.gif" alt="" title="">

[2019-10-05 04:32] tranthaison1231 opened #25 "It's is not working if I use cloudary for store image. How can I fix it?"

[2019-11-22 00:36] rjyo opened #26 "Plugin stopped working when upgraded to gatsby 2.18.1"
After upgrading gatsby to 2.18.1, I go the following error:

[code]

`featuredImage` is a field used in frontmatter with an absolute path. So I guess there must be something wrong with `fmImagesToRelative`.

When switch back to 2.17, the error will disappear.

[2019-11-22 07:52] rjyo commented on #26
Seems it's gatsby's problem

[2019-11-22 07:52] #26 closed

[2019-11-27 19:27] martondob commented on #26
Thanks @rjyo!
This seems to have fixed our nightmare issue we've been having for a week now!

[2019-11-28 19:45] crgeee commented on #26
@rjyo  sigh...been fighting this is there an issue in gatsby you're referring to?

[2020-01-05 13:34] Arno500 opened #27 "Transformation not working with special characters in path (like é)"
This path is correctly transformed:
`"image": "/uploads/jumbotron.jpg"` -> `"image": "../../uploads/jumbotron.jpg"`
This path is not:
`"image": "/uploads/macaron-animé.png"` -> `"image": "..\\uploads\\macaron-animé.png"`
When removing the accent in the filename, everything works.

From what I checked, the problem can be resolved by removing the outdated "slash" dependency and using gatsby-core-uti

[2020-02-07 08:23] pol4bear opened #28 "gatsby-remark-relative-images fails to process picturestook with DSLR"
Hi! I'm trying to migrate my blog to gatsby. I migrated my posts to markdown and I uploaded to my gatsby. I installed gatsby-remark-relative-images to process my images relatively and it worked fine with most of images. But, gatsby-remark-relative-images fails to process picture that are took from DSLR. I think gatsby-remark-relative-images has bug that can't process high-quality images because of

[2020-02-07 08:44] pol4bear commented on #28
I thout it was problem of size of the images but, I guess is not. I got error message when building gatsby from other images.

[code]

[2020-02-07 14:46] pol4bear commented on #28
I think the error is not cased by remakr-relative-images. I tried with other gatsby starter ans got no errors. But, it still not visualizing some images.

[2020-02-08 07:56] #28 closed

[2020-02-13 04:27] sarahbethfederman commented on #17
We are having this issue too, hope to see the fix make it in soon 👍

[2020-02-22 17:39] #17 closed

[2020-02-26 15:12] smashercosmo commented on #23
Having the same problem. It should be possible to specify file extensions to be handled by the plugin.

[2020-02-26 15:16] eur2 commented on #23
@smashercosmo To make it working in gatsby, I'm using the publicUrl and a classic <img> tag.

[2020-02-27 08:55] #23 closed

[2020-02-28 02:36] tbntdima opened #29 "Matching algorithm for markdown images doesn't work"
Hi, I was trying to use your plugin, but it was not working for me. So that's how I came up here 🙂
There is one part in the code that confuses me [here](https://github.com/danielmahon/gatsby-remark-relative-images/blob/6e2a795318967a70eb6980271655b6e5585022e9/src/index.js#L40).
[code]
I have the following folders structure:
-content
   - blog
      - post.md
- static
   - images
      - avatar.jpg

[2020-03-02 13:44] felipefialho opened #31 "After migrate to 0.3.0, images doesn't work"
Hi,

In last week I've updated the dependency for 0.2.3 to 0.3.0 and images didn't work more.

I can't understand what is the cause of problem, but I think that gatsby-remark-relative-images doesn't resolve the paths anymore.

For example (in prod), in 0.3.0:

[code]

In 0.2.3 working well.

[2020-03-02 15:25] danielmahon commented on #31
@felipefialho I am looking into this today and testing with latest https://github.com/netlify-templates/gatsby-starter-netlify-cms starter

[2020-03-02 16:40] danielmahon commented on #29
@dmitriyaa I am having trouble reproducing this problem. It seems as if the matching is working as intended. Do you have your `static/images` folder defined in `gatsby-config.js`?

[code]

The `imagePath` and matching `slash(path.normalize(file.absolutePath))` return absolute paths on your system so for example running local on macOS you might get:

**gatsby-config.js**
[code]

**src/pages/blog/bl

[2020-03-02 16:49] danielmahon commented on #31
@felipefialho do you have your assets folder defined in gatsby-config.js? see my comment in #29 also
[code]

with the `src/assets` folder defined in `gatsby-config.js` the following works

**src/pages/blog/blog-post-1.md**
[code]

[2020-03-02 16:51] dmitriyaa commented on #29
Hi @danielmahon, but netlify CMS does not provide us with a relative path like here:
[code]
it will be
[code]
so the imagePath will be `/Users/me/Projects/gatsby-remark-relative-images/example/src/pages/blog/img/coffee.png`

and for me matching path provided by `gatsby-source-filesystem` is:
[code]

I can create a repo to reproduce it, it the above doesn't make sense.

[2020-03-02 16:52] felipefialho commented on #31
@danielmahon Yes, I have.

You can check [my source here](https://github.com/felipefialho/felipefialho.com/blob/master/gatsby-config.js), 😄

[2020-03-02 17:10] dmitriyaa commented on #29
@danielmahon, I think that's also what is causing issue on #31 🤔
I haven't used Netlify CMS before, maybe the way paths are generated has changed.

[2020-03-04 10:56] koss-lebedev commented on #29
@danielmahon Can confirm that the issue exists and that PR resolves it.

As @dmitriyaa mentioned, when you add an image to markdown file using Netlify CMS, it saves it with the path relative to _the location of that markdown_ file, but the path matching algorithm will try to resolve it relative to _the root project directory_, so we'll get a broken link.

[2020-04-15 23:58] DirtySoc commented on #31
I am also seeing an odd relative image resolving issue with 0.3.0. Going back to 0.2.2 makes it work again.

This works with both 0.2.2 and 0.3.0.
![image](https://user-images.githubusercontent.com/33207400/79400110-3cf62980-7f53-11ea-9ddb-be124545f45e.png)

This works with 0.2.2 and does NOT work with 0.3.0:
![image](https://user-images.githubusercontent.com/33207400/79400152-631bc980-7f53-11ea-9

[2020-04-25 12:41] jacknevitt opened #32 "frontmatter gallery images not transformed"
I hope this is the right place to share my issue. For arrays of image paths like my frontmatter gallery, the paths are not being transformed.
[code]
In the frontmatter above, the `hero_image` is transformed as expected but the gallery strings are left unchanged.
My gatsby-config plugins are set up like so:
[code]
Any help would be appreciated, thanks!

[2020-05-23 22:10] cwkosman commented on #31
I also have an independent case where downgrading from 0.3.0 to 0.2.3 is the solution and both all relevant config (gatsby-config.js and static.admin/config.yml) and the markdown files themselves remain unchanged.

On 0.3.0, images referenced within the body of markdown files are rendered out using the parent asset in a simple <img> tag.
![23-08-krq8q-qlymv](https://user-images.githubusercontent.c

[2020-06-01 03:07] aarongervais opened #33 "version 0.3 breaks image captions"
Hi,

After upgrading from 0.2 to 0.3, the showCaptions option of `gatsby-remark-images` stops working. e.g.:

[code]

The version of `gatsby-remark-images` doesn't seem to make a difference, neither does changing its configuration options. Downgrading back to `gatsby-remark-relative-images` 0.2 fixes the issue.

[2020-06-16 05:52] Samic8 commented on #31
Having this same issue when using 0.3.0

[2020-06-16 13:13] felipefialho commented on #31
For now it works again. I've been using `"gatsby-remark-images": "^3.3.8"`.

@Samic8 You can [check here](https://github.com/felipefialho/felipefialho.com/blob/master/package.json).

[2020-06-16 13:13] #31 closed

[2020-06-25 19:43] ardalis opened #35 "Continuing to get "Field "image" must not have a selection since type "String" has no subfields." error"
I posted this to the Gatsby repo but they punted it here. I've already followed the FAQ instructions. Any ideas?

https://github.com/gatsbyjs/gatsby/issues/25307

[2020-07-28 10:18] tadeas22 opened #37 "Error if using cache"
Hello

i am getting into a issue when running `gatsby build`: `Cannot read property 'childImageSharp' of null`
[code]
Steps to reproduce:

1. Create gatsby page with markdowns with paths to file in frontmatter
2. First build without cache to create the cache
3. Modify the source markdown in any way. For example add empty line. The modification must trigger `onCreateNode`
4. Second build with cache

[2020-07-31 16:09] tr1s opened #38 "The "path" argument must be a type of string. (breaks on upgrade from 0.2.3 to 0.3.0"
I had to trial an error update all my packages to find it was this plugin causing the error. It wasn't very descriptive.

0.2.3 works fine, but 0.3.0 breaks.

This is the error:

<img width="895" alt="CleanShot 2020-07-31 at 11 52 58@2x" src="https://user-images.githubusercontent.com/19172250/89053236-ec011a00-d324-11ea-994e-fe8485ea89ee.png">

<img width="896" alt="CleanShot 2020-07-31 at 11 53 2

[2020-08-24 22:48] #35 closed

[2020-08-24 22:48] #25 closed

[2020-08-24 22:48] #29 closed

[2020-08-24 22:48] #32 closed

[2020-08-24 22:48] #33 closed

[2020-08-25 00:18] danielmahon commented on #18
add options in fb63dd3

[2020-08-25 00:18] #18 closed

[2020-08-25 00:30] #27 closed

[2020-08-26 23:05] danielmahon commented on #37
had no idea `getNodes()` existed... pushing update soon that should fix this

[2020-08-26 23:17] #37 closed

[2020-08-27 19:42] jeremy-ecoenergy opened #39 "Convert absolute paths in JSON files"
Do you have any plans to also process JSON files? That would be really handy!

e.g. I have JSON files in the /data folder that contain absolute paths to images ("/assets/etc.jpg") that, similarly, need to be converted to relative paths.

[2020-08-28 14:03] labnol opened #40 "Error: No matching file found"
After I upgraded to v2.0, gatsby build is throwing this error. For some reason, it is adding 'static' twice in the file path. I am not using any custom options in the gatsby config file. The build works if I downgrade to v1.

[code]

[2020-08-28 14:04] labnol commented on #40
Thanks in advance for any assistance you can provide!

[2020-08-28 14:15] danielmahon commented on #40
@labnol Thanks for opening the issue. It looks like you are referencing the image with src:
`/static/e74f7be9122eaf7ab2744068d022888c/16546/add-calendar-events.png`
v2 automatically appends your static folder to the resolved URL so that it can properly match nested files with the potential same name, which gives you:
`/static/static/e74f7be9122eaf7ab2744068d022888c/16546/add-calendar-events.png`
I

[2020-08-28 14:19] danielmahon commented on #39
@jeremy-ecoenergy I will definitely consider in the near future, once I make sure v2 is working as intended for markdown/mdx. Can you provide an example json file and expected result? Are you suing NetlifyCMS to generate the json?

[2020-08-28 14:43] labnol commented on #40
After trying a bunch of things, I moved 'gatsby-remark-relative-images' before 'gatsby-remark-images' in the config file and that seems to work. I have no idea why but it is no longer throwing that error.

[2020-08-28 14:56] danielmahon commented on #40
@labnol yes it states in the usage example that it MUST go before `gatsby-remark-images` as it needs to transform the URL before it is turned into an image object, that requirement was the same pre v2 as well. If that solved your problem please close the issue, or let me know if you run into anything else. Thanks.

[2020-08-28 17:14] jeremy-ecoenergy commented on #39
Not using NetlifyCMS, entered by hand. We are using Forestry though.

JSON file before:
[code]

After:
[code]

(The same way it works for Frontmatter in Markdown files now.)

[2020-08-28 20:45] labnol commented on #40
Thank you.

[2020-08-28 20:45] #40 closed

[2020-08-29 17:37] jamessimone opened #41 "Field "bannerImage" must not have a selection since type "String" has no subfields."
I would love to upgrade, however when upgrading to 2.0.2 (from 0.2.3), I am getting the titled error with no changes other than having removed `fmImagesToRelative` as recommended in my `gatsby-node.js`. I am using NetlifyCMS in conjunction with Gatsby, like you, so I'm curious where the breakdown is occurring.

My `config.yml` values align exactly with yours. Here's the relevant excerpt from my `g

[2020-09-02 11:42] huntercaron opened #42 "Schema does not update without restarting 'gatsby develop'"
<img width="543" alt="Screenshot 2020-09-02 at 13 12 33" src="https://user-images.githubusercontent.com/4625978/91974361-f8aad080-ed1d-11ea-8ce1-811f2f31f602.png">

When editing images in Frontmatter while in development mode, the GraphQL queries break with the `Field "gallery_images" must not have a selection since type "[String]" has no subfields.` until you restart `gatsby develop`.

You can re

[2020-09-02 15:15] danielmahon commented on #42
@huntercaron I am unable to reproduce, FYI I use [gatsby-starter-netlify-cms](https://github.com/netlify-templates/gatsby-starter-netlify-cms) for compatibility testing.

Have you defined a non-empty `gallery_images` in each markdown file for that type? Conditional fields may require you to add your own typings.

Also is `/assets` your static folder? If so you need to define that in the plugin opt

[2020-09-02 15:32] danielmahon commented on #41
@jamessimone reproducing your repo I ran across a few missing files. v2 throws an error now when It doesn't find a matching file for fields it tries to convert since this will break the gatsby-remark-image processing. After fixing the missing files, I no longer got the error and the build worked fine. You also need to make sure fields you define in frontmatter exist in every other markdown file of

[2020-09-02 15:34] huntercaron commented on #42
@danielmahon thanks for digging into it!

I've been using this for forestry.io (works great btw except for this hiccup), `assets` is my folder within `static` similar to `images` in the example.

It's pretty odd actually, nothing was fixing it except for manually refreshing the schema. Tried `yarn clean` a bunch of times, etc and nothing fixed it - then I gave up & came back a few hours and everyt

[2020-09-02 15:36] jamessimone commented on #41
@danielmahon thanks so much for the response. I can take it from here!

[2020-09-02 15:36] #41 closed

[2020-09-02 15:42] danielmahon commented on #42
@huntercaron One thing Ive noticed while developing this plugin is the `gatsby develop` cache seems to be annoyingly inconsistent. Even with running `gatsby clean` before each start it wouldn't always produce the same results. I think part of it is the `gatsby develop` process sometimes hangs around for a bit after exit and seems to cause weird behaviour when starting again (duplicating process? r

[2020-09-02 15:50] huntercaron commented on #42
Ah yeah that sounds just like what I've been experiencing. It's also my first time using Gatsby in a few years, I thought remembered it being more stable than this.

What weird now is that seems to be working locally but broken in the forestry preview server (essentially they just run gatsby develop on a server). I tried looking to see if there was a way to force reload the schema but only found a

[2020-09-02 15:59] danielmahon commented on #42
@huntercaron do you need indentation in-front of your list items under `gallery_images`? I just noticed they are inline with the parent, and they shouldn't be. YAML cares about stuff like that.

[code]
should be
[code]

[2020-09-03 11:13] huntercaron commented on #42
@danielmahon I thought it would be easier to show the behaviour in a gif, I think I've found a pretty solid reproduction.

You can see it works fine until the data hot-reloads (via commenting a line out), then it breaks. But I've found that it _doesn't_ break when a different markdown file in the content folder exists. When I change the file extension of the 'contact' file to just a txt file, ever

[2020-09-09 14:45] tadeas22 commented on #37
Cool nice work thx

[2020-09-10 06:09] rburgst opened #43 "support also non-file markdown remark nodes"
Currently it is not easily possible to have markdown in frontmatter tags while using this plugin (e.g. using netlifyCMS with a `markdown` fields other than `Body`).
Currently I am creating new nodes for these frontmatter fields
[code]
(similar to the suggestion here https://github.com/GraphCMS/gatsby-source-graphcms/issues/44#issuecomment-382309512)

However transformer remark only copies the `abs

[2020-09-10 07:45] emanueleperuffo opened #44 "Not updating raw html nodes when using gatsby-plugin-mdx"
I noticed that the following does not work for mdx files in Gatsby

[code]

Does it make sense to update it to the below?

[code]

[2020-09-10 16:35] zlobizlobi opened #45 "Inline images src' in markdown body do not convert to relative paths."
Hi there @danielmahon,

Thank you loads for this nice functionality, yet I can't seem to figure out something. I am currently trying to render images in my Gatsby website from Netlify CMS. I am working with `gatsby-remark-relative-images`'s `0.3.0` release and the images from my mdx frontmatter get picked up correctly by sharp and get rendered on my website with all percs of gatsby-image. This is

[2020-09-10 17:52] danielmahon commented on #45
@zlobizlobi can you post your `gatsby-config.js` and netlify `config.yml`?

[2020-09-10 17:55] danielmahon commented on #44
let me look into this, should be trivial but I noticed the MDX plugin works slightly different than remark in regards to its lifecycle hooks, have you had any issues with frontmatter conversion using the mdx plugin?

[2020-09-10 17:57] emanueleperuffo commented on #44
No I haven't. Why are you asking?

On Thu, 10 Sep 2020, 7:55 pm Daniel Mahon, <notifications@github.com> wrote:

[2020-09-10 18:00] zlobizlobi commented on #45
@danielmahon Thank you for looking into it!

My `config.yml`:

`media_folder: static/media
public_folder: /media

collections:
  - name: 'posts'
    label: 'Posts'
    folder: '/content/_posts'
    extension: 'mdx'
    format: 'frontmatter'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'URL slug', name: 'slug', widget

[2020-09-10 18:27] zlobizlobi commented on #44
@danielmahon This could be actually also the issue causing ![#45](https://github.com/danielmahon/gatsby-remark-relative-images/issues/45)

[2020-09-11 21:58] ttstauss commented on #38
@tr1s, were you able to get this solved?

[2020-09-11 22:03] tr1s commented on #38
I originally went back to the version that wasn't breaking. Then the problem came up again randomly, but then @danielmahon made a big PR and closed a bunch of issues.

Right after he did that I upgraded to the beta `1.0.0-rc.5` and it seemed to be fine!

[2020-09-11 22:35] ttstauss commented on #38
@tr1s, thanks for getting back to me so fast.

Maybe I'm facing a different issue. My images are stored in a different folder (`content/uploads`).

Version `0.3.0` has worked fine for me but I can't get any upgrades to work—the version you recommended (`1.0.0-rc.5`) or the latest version `2.0.2` (after removing `fmImagesToRelative`).

I think I have my config set up correctly (added `staticFolderN

[2020-09-15 11:33] #45 closed

[2020-09-18 08:36] yudyananda opened #47 "Failed transform relative image"
Hi, I try to follow the documentation but still no luck. The image field still detected as a sting `Field "src" must not have a selection since type "String" has no subfields`

Here is my directory
[code]
[code]

[code]

this is my query result
[code]
[code]

I try to use content and static directory but none of them working

FYI
- in my previous project i'm using `0.2.3` which have `fmImagesToRel

[2020-09-27 11:35] adamavenir opened #48 "Error: Unable to find plugin "gatsby-remark-relative-images" even after installing multiple versions"
I've been trying to install and use this plugin, but regardless of what I do, the module reports as missing.

I have:
- verified it's in node_modules directory
- tried installing different versions of the modules
- tried deleted node_modules and reinstalled everything

This is what the start of my gatsby-config.js looks like:

[code]

Any ideas?

[2020-09-27 19:38] adamavenir commented on #48
This issue exists for me in node 14 and node 12 but not node 10.

[2020-09-27 19:42] adamavenir commented on #48
lol scratch that. I was testing things out in various environments and ran `npm i` in the wrong repo. :joy: Sooo never mind. Problem exists in node 10, too.

[2020-10-01 20:05] donovantc commented on #38
@ttstauss did you make any further progress with this? I seem to have the same issue that you were facing.

[2020-10-02 16:22] ttstauss commented on #38
@donovantc, unfortunately, I haven't. I couldn't figure anything out. I had to move on for the time being. I plan on revisiting as soon as I can (I have a few other projects that could upgrade but face the same issue).

[2020-10-02 18:33] donovantc commented on #38
@ttstauss in the end I just downgraded back to 0.3.0 and it works fine. So if you are not using any specific features from 2.0.2, this might solve the issue for you as well. Good luck.

[2020-10-29 23:35] michaeljoy commented on #38
Yeah this is still an issue in 2.0.2... Able to reproduce as well

[2020-10-30 16:56] ma-bourassa commented on #47
I got almost the same setup. It is also working on `0.3.0` when using `fmImagesToRelative`
If I update to `2.0.2` I got the error `Field "photo" must not have a selection since type "String" has no subfields.`
The problem only occurred on Windows 10. If I clone my project on WSL 2, I don't get the error.

[2020-11-08 09:04] hendhyhutomo commented on #47
I am experiencing the same issue. After a couple work around I think the Native On Create Node functions is not triggered.

When I copy paste them manually on my gatsby node it works.

![Screenshot 2020-11-08 at 16 04 03](https://user-images.githubusercontent.com/11151079/98461092-08420c00-21dc-11eb-9181-a5261cef555c.png)

[2020-11-08 09:05] hendhyhutomo commented on #39
I made a quick functions pasted onCreateNode for JSON. It is highly adapted from your original code with a few adjustment for json

`
  if (node.internal.type.toUpperCase().includes(`JSON`)) {
    const files = getNodesByType(`File`);

    const getParentPath = getNode(node.parent).absolutePath;
    const directory = path.dirname(getParentPath);

    const options = {
      staticFolderName: 'stat

[2020-11-14 06:25] rburgst commented on #43
I added a PR fixing this months ago, any chance to get this merged?

[2021-01-22 04:49] wilitp opened #49 "Strict mode for invalid image paths"
I've encountered that if I wanted to throw an exception detailing:
-  which file contained an invalid path to an image
- The actual invalid path

I can not get the latter, given that the node created for an invalid path is `null` when querying it.

Is there any way one can get the string for the invalid path? Is there any way for the plugin to be strict about the validity of **every** path?

[2021-01-26 20:18] kalebheitzman commented on #42
I'm having this same exact issue. I'm using it within a theme if that matters.

[2021-02-04 16:23] alexford commented on #42
I am also seeing this. In my case saving the markdown file in question again clears the error.

It looks like the schema isn't generated properly on the _first_ hot-reload after changing the file. A second hot-reload (triggered just by saving the file again, not actually changing anything) clears it.

It doesn't matter what I change in the file — a non-image field or the content itself. Just any k

[2021-02-05 08:15] huntercaron commented on #42
For context I was never able to fix this, and ended up moving my site to nextjs (not the solution for everyone of course)

[2021-03-10 09:45] Essay97 opened #50 "Getting 'No matching file found for src "/img/concert.jpg" in static folder "static" '"
When I run `gatsby develop` I get an error that says:

"gatsby-remark-relative-images" threw an error while running the onCreateNode lifecycle:

No matching file found for src "/img/concert.jpg" in static folder "static". Please check static folder name and that file
exists at "static/img/concert.jpg". This error will probably cause a "GraphQLDocumentError" later in build. All converted field
path

[2021-03-18 19:00] kalwalt commented on #50
Hi @Essay97 i have the same issue, do you solved?

[2021-03-18 19:23] kalwalt commented on #50
i had a similar issue, the plugin fail to find an image because i have a ref in a .md file in the frontmatter see this [commit](https://github.com/Julian-Alps/rifugiokugy.com/pull/11/commits/38cf16e2242f3d95796b5a58a2a0516717e67a70), i deleted that code and the error disappeared. You should check if you have somewhere a reference to this file "/img/concert.jpg" in frontmatter of some page or other

[2021-03-25 21:20] AmplifiedHuman commented on #42
Having the same issue as well, it looks like gatsby-remark-relative-images does not convert the frontmatter images to actual images after hot reloading

[2021-03-27 17:38] Essay97 commented on #50
Hey sorry for the late answer, it was the exact same problem

[2021-03-27 17:38] #50 closed

[2021-03-27 18:05] kalwalt commented on #50
@Essay97 No problem! Happy that you solved!

[2021-03-31 10:39] phipag commented on #47
Same issue for me only on Windows 10. On Linux and Mac systems it works. `Field "image" must not have a selection since type "String" has no subfields.`

Any news / fixes?

[2021-03-31 14:38] AndrewTraub opened #51 "Images not found with version 2"
I'm using netlify and have followed your instructions but the images are not found.

Here is my gatsby-config:

module.exports = {
  plugins: [
    'gatsby-plugin-react-helmet',
    'gatsby-transformer-yaml',
    {
      resolve: 'gatsby-plugin-google-tagmanager',
      options: {
        id: 'xxx',
        includeInDevelopment: false
      }
    },
    {
      resolve: 'gatsby-plugin-offline',

[2021-04-01 17:49] Daguima-dag opened #52 "Relative paths not recognized by remark"
Hi! I've been trying to get V2 to work with Netlify CMS, but I'm stuck:
Image paths are getting transformed to relative paths, such as:

`"..\\..\\..\\static\\img\\78255412_1542951075843738_6829112130805956608_o.jpg"`

but, looking in GraphiQL, the field in frontmatter is still a string, never being transformed into an ImageSharp object.
I did put the plugin before gatsby-remark-images, so I don't

[2021-05-06 20:32] AndrewTraub commented on #51
It works with version 0.3 but not 2.x and 1.1

[2021-05-27 22:04] codedpills commented on #38
Any updates on this? I seem to be having the same issue when i run `gatsby build`. Everything works well in development mode but I get the error when i try to build my project. I can't seem to get this to work.

I'm currently using Gatsby v. 3.0.1 and gatsby-remark-relative-images v. 2.0.2. Is there anyway I can get this to work?

[2021-06-18 08:51] josephmarkus opened #56 "The plugin doesn't work in 2.0.2"
## Summary

Version `0.2.2` used to work ok ✅
Version `2.0.2` doesn't work at all ❌

## Detail

In version `0.2.2` we noticed a couple of bugs:

### Bug 1

Given the following data structure

[code]

Loading `article-1` may load `header.jpg` from `article-2`

The way around this?

Give unique names to images

### Bug 2

Given the following image

[code]

...has been moved to another location

[cod

[2021-07-11 21:06] samgermain opened #57 "Denial of Service and command injection security issue with npm audit"
I receive 2 High security vulnerabilities with `gatsby-remark-relative-images`

[code]

[code]

[2021-09-02 08:00] bestrivens001 opened #58 "a 2.0.3 release for gatsby-remark-relative-images with updated lodash"
Hi, @danielmahon,
### Issue Description

   I noticed that a vulnerability is introduced in **_gatsby-remark-relative-images@2.0.2_**:
     Vulnerability **CVE-2021-23337** (high severity) affects package **_lodash_** (versions:<4.17.21):  [https://snyk.io/vuln/SNYK-JS-LODASHTEMPLATE-1088054](https://snyk.io/vuln/SNYK-JS-LODASHTEMPLATE-1088054)
  The above vulnerable package is referenced by **_ga

[2021-10-27 06:57] shelleyphant opened #59 "Cannot find module file index"
Installed to deal with Netlify CMS, but it seems to have upset the entire site. First error is
[code]

This seems to cause an flow on effect with errors like:
[code]
 And then it cannot find any of the image files

I'm on version 2.0.2
gatsby-config.js
[code]

[2021-11-01 18:13] j-e-clark commented on #59
Are you using Gatsby v3 or Gatsby v4?

I've just encountered exactly the same issue whilst attempting to upgrade a site from v3 to v4.

It works fine with:
    "gatsby": "^3.14.1",
    "gatsby-remark-images": "^5.11.0",
    "gatsby-remark-relative-images": "^2.0.2",
    "gatsby-transformer-remark": "^4.11.0",

But gives the same errors as above with:
    "gatsby": "^4.0.2",
    "gatsby-remark-imag

[2021-11-03 04:40] shelleyphant commented on #59
I'm using gatsby v4, but I ended up uninstalling the plugin and finding a workaround using [this issue](https://github.com/gatsbyjs/gatsby/issues/4123#issuecomment-771925663) and [this stackoverflow thread](https://stackoverflow.com/questions/68549461/gatsby-image-with-netlify-cmsfield-thumbnail-must-not-have-a-selection-since-t). Using gatsby-node.js, you can explicitly set a fields type, reveali

[2021-11-04 18:15] natapg commented on #59
I subscribe to this issue because I have the same problem migrating to v4. I tried @shelleyphant solution and the "must not have a selection since type "String" has no subfields" errors are solved but the images return null for some reason so it doesn't work for me

[2021-11-04 21:33] shelleyphant commented on #59
What's your blog structure? I have everything in main - content - postTitle - index.js + images
Then, I have it added in my gatsby-config.js like so:
[code]
This means that any relative images referenced in the 'postTitle' folder is linked as a file, and can then be found as a node.

[2021-11-09 10:10] LekoArts commented on #59
Please update to

[code]

See https://github.com/gatsbyjs/gatsby/issues/33677

[2022-07-20 08:47] emanuele-em commented on #47
same issue on windows 11, it's a relative path problem with windows slashes

[2022-08-19 22:30] mosesoak opened #61 "Caching problem with Gatsby 4: images not found in some cases"
Hi, we're using this with NetlifyCMS in a production project, thanks for the plugin!

I'm not sure whether this is a low-level Gatsby problem or something to do with this plugin but I'm getting a weird new regression where images are returning null in some cases and not others. All images are typed in the schema as `File @fileByRelativePath` and we've had the site live using Gatsby 3 for a while w

[2022-08-23 00:35] mosesoak commented on #61
You can use the repro project [here](https://github.com/yallllc/gatsby-image-query-bug) to investigate the issue.

[2022-09-15 01:12] yasintze commented on #61
any updates regarding this issue?